* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

@keyframes letterDraw {
    to {
        stroke-dashoffset: 0;
    }
}

@media (min-width:851px) {
    .back {
        background-image: url(./G0v暫-01.svg);
    }
    .logo {
        padding-top: 6vh;
        width: 56vw;
        padding-left: 22vw;
    }
    .summit {
        width: 56vw;
        padding-left: 22vw;
    }
    .dsbutDiv {
        padding-top: 5vh;
        padding-left: 2.5vw;
    }
    .dsbutDivB {
        padding-top: 5vh;
    }
    .dsbut {
        width: 10vw;
        font-size: 20px;
    }
    .backPush {
        padding-left: 10vw;
        padding-top: 10vh;
    }
    .designBack {
        width: 80vw;
        height: 70vh;
    }
    .box {
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dscolor {
        width: 30vw;
        padding-left: 3vw;
    }
    .dsword {
        width: 40%;
        margin-left: 5vw;
        line-height: 24px;
        text-align: justify;
    }
}

@media (max-width:850px) {
    .back {
        background-image: url(./G0v暫-05.svg);
    }
    .logo {
        width: 64vw;
        padding-top: 30vh;
        padding-left: 18vw;
    }
    .summit {
        width: 64vw;
        padding-left: 18vw;
    }
    .dsbutDiv {
        padding-top: 3vh;
        padding-left: 2.5vw;
    }
    .dsbutDivB {
        padding-top: 1.5vh;
    }
    .dsbut {
        width: 30vw;
        font-size: 24px;
    }
    .backPush {
        padding-left: 12.5vw;
        padding-top: 5vh;
    }
    .designBack {
        width: 75vw;
        height: 85vh;
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dscolor {
        width: 65vw;
        padding-top: 8vh;
    }
    .dsword {
        width: 70%;
        /* text-align: center; */
        text-align: justify;
    }
}

a {
    text-decoration: none;
}

#s {
    stroke-dasharray: 340;
    stroke-dashoffset: 340;
    animation: letterDraw .5s linear forwards;
}

.dur3 {
    animation-duration: 3s;
}

.back {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100vw; */
    height: 100vh;
}

.dsbut {
    background-color: white;
    color: #333;
    font-weight: 800;
    text-align: center;
    opacity: 0.8;
    border-color: #333;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}

.dsbut:hover {
    opacity: 1;
}

.designBack {
    background-color: white;
    /* opacity: 0.7; */
    border-color: #333;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
}

.cls-6 {
    animation: run 6s infinite;
}

.cls-7 {
    animation: run 6s infinite;
    animation-delay: 2s;
}

.cls-8 {
    animation: run 6s infinite;
    animation-delay: 4s;
}

@keyframes bounceUp {
    from {
        transform: translate3d(0, 0, 0)
    }
    to {
        transform: translate3d(0, -55px, 0)
    }
}

@keyframes bounceUp2 {
    0% {
        transform: translate3d(0, 0, 0)
    }
    50% {
        transform: translate3d(0, -55px, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}

@keyframes run {
    0% {
        transform: translate3d(0, 0, 0)
    }
    33% {
        transform: translate3d(340px, 0, 0)
    }
    100% {
        transform: translate3d(340px, 0, 0)
    }
}